@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/mixins.scss";

.header-container {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  align-items: center;
  gap: 90px;
  margin-top: 120px;

  .header-shadow {
    position: absolute;
    background: radial-gradient(
      39.72% 32.79% at 50.81% 68.15%,
      #210544 0%,
      rgba(23, 5, 68, 0.71) 50.52%,
      rgba(23, 5, 68, 0) 100%
    );
    backdrop-filter: blur(3px);
    width: 54%;
    height: 50%;
    top: 30%;
    border-radius: 30%;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    gap: $SpacingLX;
    z-index: 1;
    &-title {
      font-size: $FontSizeXXL;
      letter-spacing: 0.6px;
    }

    &-timer {
      display: flex;
      gap: 4rem;
      color: var(--color-black);
      background-color: var(--color-white);
      border-radius: 21px;
      padding: 20px 40px;
      text-align: center;
      align-items: center;
      font-size: $FontSizeXL;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

      &-item {
        display: flex;
        flex-direction: column;

        .t-title {
          color: var(--color-black);
          font-size: $FontSizeS;
          margin-top: $SpacingL;
        }
      }
    }
  }

  .t-form {
    max-width: 488px;
    text-align: center;
  }

  @include responsive(desktop) {
  }
}
