@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
@import "variables.scss";

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Playfair Display";
  src: url(../fonts/PlayfairDisplay-ExtraBold.ttf);
}

:root {
  // color
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue: #079bee;
  --color-grey: #757575;
  // size
  --size-shape-radius: 4px;
  // font
  --font-mentserrat-regular: "Montserrat Regular";
  --font-mentserrat-bold: "Montserrat Bold";
  --font-playfair-bold: "Playfair Display";
  // speed
  --speed-switch-animation: 5000ms;
  --speed-card-animation: 1000ms;
}

body {
  font-family: var(--font-mentserrat-regular);
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-black);
  background: var(--color-white);
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

a:visited {
  color: inherit;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

.pf-bold {
  font-family: var(--font-playfair-bold);
  font-size: $FontSizeXL;
  letter-spacing: 3.6px;
}

.t-description {
  font-family: var(--font-mentserrat-regular);
  font-size: $FontSizeXS;
  color: var(--color-grey);
  line-height: 23px;
}

.t-title {
  font-family: var(--font-mentserrat-bold);
  font-size: $FontSizeM;
  color: var(--color-white);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* 
img,
svg {
  width: 100%;
} */
