// spacing
$SpacingXXS: 2px;
$SpacingXS: 5px;
$SpacingS: 8px;
$SpacingM: 12px;
$SpacingL: 16px;
$SpacingLX: 24px;
$SpacingXL: 32px;
$SpacingXXL: 64px;

// font size
$FontSizeXXS: 2px;
$FontSizeXS: 14px;
$FontSizeS: 16px;
$FontSizeM: 24px;
$FontSizeL: 48px;
$FontSizeLX: 50px;
$FontSizeXL: 60px;
$FontSizeXXL: 80px;
